@import "../../shared/styles/colors.scss";
:host {
  display: block;
  background-color: $color-white;
  padding: 1rem;
  border-radius: 8px;
}
.kpi-legend {
  background-color: $color-white;
  border: 1px solid $color-light-grey;
  border-radius: 8px;
  padding: 1rem;
  margin-top: 1rem;
  font-family: Arial, sans-serif;

  h3 {
    margin-bottom: 1rem;
    font-size: 1.1rem;
    color: $primary-color;
  }

  table {
    width: 100%;
    border-collapse: collapse;

    th,
    td {
      text-align: left;
      padding: 0.5rem;
      border-bottom: 1px solid $color-light-grey;
      vertical-align: middle;
    }

    th {
      background-color: $grey-100;
      font-weight: bold;
      color: $color-black;
    }

    .dot {
      display: inline-block;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      margin-right: 8px;
    }

    .open {
      background-color: $brand-blue; // stesso colore delle barre Open Rate
    }

    .ctr {
      background-color: $color-success; // colore CTR
    }

    .bounce {
      background-color: $color-warning; // colore Bounce Rate
    }
  }
}
