:host {
  display: block;
  background-color: #fff;
  padding: 1rem;
  border-radius: 8px;
}
.kpi-legend {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1rem;
  margin-top: 1rem;
  font-family: Arial, sans-serif;

  h3 {
    margin-bottom: 1rem;
    font-size: 1.1rem;
    color: #333;
  }

  table {
    width: 100%;
    border-collapse: collapse;

    th,
    td {
      text-align: left;
      padding: 0.5rem;
      border-bottom: 1px solid #eee;
      vertical-align: middle;
    }

    th {
      background-color: #f9f9f9;
      font-weight: bold;
      color: #222;
    }

    .dot {
      display: inline-block;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      margin-right: 8px;
    }

    .open {
      background-color: rgb(
        72,
        102,
        252
      ); // stesso colore delle barre Open Rate
    }

    .ctr {
      background-color: rgb(70, 193, 113); // colore CTR
    }

    .bounce {
      background-color: #eaecf0; // colore Bounce Rate
    }
  }
}
