$primary-color: #4263eb;
$secondary-color: #ee424c;
$ternary-color: #0c3d67;

$color-white: #ffff;

$color-black: #030303;
$color-black-opacity80: #000000cc;
$color-light-grey: #e6e6e6;
$color-background-grey: #f5f5f5;
$color-dark-grey: #5a6268;

$background-primary-color: #ebeffb;
