@import "../../../../shared/styles/generic-form.scss";
@import "../../../../shared/styles/plans.scss";
@import "../../../../shared/styles/monitoring.scss";
@import "../../../../shared/styles/accordion.scss";

/* Spinner animation */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.btn-connect-meta {
  background-color: #1877f2;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 0.5rem 1rem;
  margin: 1rem 0;
  font-size: 0.95rem;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: darken(#1877f2, 5%);
  }
}
.btn-save-page {
  background-color: #1999d5;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  font-size: 0.95rem;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: darken(#1999d5, 5%);
  }
}
.meta-token-info {
  background-color: #ffffff;
  padding: 1.5rem 2rem;
  border-radius: 12px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.05);
  margin-top: 2rem;

  h2,
  h3 {
    color: #1999d5;
    margin-bottom: 1rem;
  }

  p {
    margin: 0.5rem 0;
    font-size: 0.95rem;
    strong {
      font-weight: 600;
    }
  }

  .valid {
    color: #28a745;
    font-weight: bold;
  }

  .invalid {
    color: #dc3545;
    font-weight: bold;
  }
  .expired {
    color: #dc3545;
    font-weight: bold;
  }

  ul {
    margin-top: 0.5rem;
    padding-left: 1.2rem;
    columns: 2;
    column-gap: 2rem;

    li {
      margin-bottom: 0.3rem;
      font-size: 0.9rem;
      list-style-type: disc;
    }
  }

  .granular-scope {
    margin-bottom: 0.75rem;
    padding: 0.5rem;
    background-color: #f5f7fa;
    border-left: 4px solid #1999d5;
    border-radius: 6px;

    strong {
      display: block;
      font-weight: 600;
      margin-bottom: 0.2rem;
    }

    em {
      color: #555;
      font-size: 0.85rem;
    }
  }

  @media (max-width: 768px) {
    ul {
      columns: 1;
    }
  }
}
