<header class="header">
  <div class="left-section">
    <span class="welcome-message">Bienvenido, {{ userFullName }}</span> <br>
    <span class="user-role">{{ currentUser?.role?.name | titlecase }}</span>
  </div>

  <div class="center-section">
    <select class="company-select" [(ngModel)]="currentCompany" (change)="onCompanyChange()">
      <option [ngValue]="null">Tutte</option> <!-- qui aggiungi l'opzione "Tutte" -->
      <option *ngFor="let company of companies; trackBy: trackByCompanyUuid" [ngValue]="company">
        {{ company.name }}
      </option>
      
    </select>
    
  </div>

  <div class="right-section">
    <!-- <i class="fa fa-bell icon"></i>
    <i class="fa fa-moon icon"></i> -->

    <div class="profile" (click)="toggleDropdown()" [class.open]="isDropdownOpen">
      <div class="avatar">{{ userInitials }}</div>
      <div class="profile-info">
        <span class="name">{{ userFullName }}</span>
        <span class="email">{{ userEmail }}</span>
      </div>
      <i class="fa fa-caret-down dropdown-icon"></i>
    
      <!-- Dropdown menu -->
      <ul class="dropdown-menu" *ngIf="isDropdownOpen">
        <li (click)="logout()">Logout</li>
      </ul>
    </div>
    
  </div>
</header>