<div class="language-selector-container">
    <button class="language-button" (click)="toggleModal()">
        <i class="fa fa-globe"></i> {{ selectedLang.toUpperCase() }}
    </button>

    <div class="language-backdrop" *ngIf="isModalOpen" (click)="toggleModal()"></div>

    <div class="language-modal-container" *ngIf="isModalOpen">
        <div class="language-modal">
            <div class="language-header">
                <h2>Scegli una lingua</h2>
            </div>
            <div class="language-grid">
                <div class="language-option" *ngFor="let lang of languages" (click)="setLanguage(lang.code)"
                    [class.selected]="lang.code === selectedLang">
                    <span class="flag">{{ lang.flag }}</span>
                    <div class="lang-label">
                        <strong>{{ lang.label }}</strong><br>
                        <small>{{ lang.translation }}</small>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>