@import "../../../shared/styles/page-layout.scss";
.stats {
  display: flex;
  gap: 1rem;
  margin: 1rem 0;

  .stat {
    background: #fff;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    transition: transform 0.3s, box-shadow 0.3s;

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    }

    .icon-container {
      background: #f0f0f0;
      padding: 5px;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      margin-bottom: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      .icon-inner {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        svg {
          font-size: 1.5rem;
          color: #ffffff; /* Colore icona */
        }
      }
    }

    h3 {
      font-size: 0.875rem;
      color: #666;
      margin-bottom: 0.5rem;
    }

    p {
      font-size: 1.5rem;
      font-weight: bold;
      color: #333;
    }
  }
}

.campaigns {
  background: #fff;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);

  table {
    width: 100%;
    border-collapse: collapse;

    th,
    td {
      text-align: left;
      padding: 0.5rem;
      border-bottom: 1px solid #eee;
    }

    .status-chip {
      padding: 0.3rem;
      border-radius: 5px;
      font-size: 0.8rem;
      font-weight: 500;
      text-align: center;
      display: inline-block;
      width: 80px;
    }
    .status-chip.inviata {
      background-color: rgb(142, 213, 142);
      color: green;
    }

    .status-chip.programmato {
      color: orange;
    }

    .status-chip.errore {
      color: red;
    }
  }
}
