@import "../../../../shared/styles/table-page.scss";
.post-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0;
  margin: 1rem 0;
  .post-item {
    background-color: #f9f9f9;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .post-status {
      font-weight: bold;
      width: fit-content;

      padding: 0.2rem 0.5rem;
      border-radius: 4px;
      &.status-planned {
        color: white;
        background-color: #999;
      }

      &.status-published {
        color: white;
        background-color: #2e7d32;
      }
    }

    .post-message {
      color: #555;
    }

    .post-date {
      font-size: 0.85rem;
      color: #888;
    }

    .post-actions {
      display: flex;
      gap: 0.5rem;
      margin-top: 0.5rem;

      .post-link {
        color: #1999d5;
        text-decoration: none;
        font-weight: 500;

        &:hover {
          text-decoration: underline;
        }
      }

      .btn-action {
        background-color: #1999d5;
        color: white;
        border: none;
        padding: 0.4rem 1rem;
        border-radius: 4px;
        cursor: pointer;

        &:hover {
          background-color: darken(#1999d5, 10%);
        }
      }
    }
  }
}
