.my-companies {
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 6px;
  background-color: #fafafa;
  max-width: 1000px;
  margin: 1rem auto;

  .filters {
    margin-bottom: 1rem;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }

  .filters input,
  .filters select {
    padding: 0.4rem;
    font-size: 1rem;
  }

  .companies-table {
    width: 100%;
    border-collapse: collapse;
    cursor: default;

    th {
      cursor: pointer;
      user-select: none;
    }

    th,
    td {
      padding: 0.5rem 1rem;
      text-align: left;
    }

    th span {
      margin-left: 0.3rem;
      font-size: 0.8rem;
    }
  }

  

  .pagination {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 1rem;

    button {
      padding: 0.3rem 1rem;
      font-size: 1rem;
    }
  }
}
