@keyframes animation-fade-in {
  from {
    opacity: 0;
    transform: translateY(16px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animation-fade-in {
  animation: animation-fade-in 0.6s ease-in-out;
}

