@import "./colors.scss";

.btn-primary {
  background: $primary-color;
  color: white;
  padding: 0.75rem 1.5rem;
  border: none;
  font-weight: 600;
  border-radius: 0.5rem;
  cursor: pointer;

  &:hover {
    background: darken($primary-color, 10%);
  }
}
