@import "./colors.scss";

.generic-form {
  background: #fff;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
  max-width: 1000px;
  margin: 2rem auto;
  font-family: "Segoe UI", sans-serif;

  .tabs {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;

    button {
      background: none;
      border: none;
      padding: 0.5rem 1rem;
      font-weight: 600;
      cursor: pointer;
      color: #555;
      border-bottom: 3px solid transparent;
      transition: color 0.3s, border-color 0.3s;

      &.active {
        color: #1999d5;
        border-color: #1999d5;
        font-weight: 700;
      }

      &:hover:not(.active) {
        color: #1999d5;
      }
    }
  }

  .tab-content {
    // opzionale: margini o padding per il contenuto del tab
  }

  .title {
    font-size: 1rem;
    color: darken($primary-color, 25%);
    margin-bottom: 1.5rem;
  }

  .form-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .form-group {
    display: flex;
    flex-direction: column;

    label {
      font-weight: 500;
      margin-bottom: 0.3rem;
    }

    input,
    select,
    textarea {
      padding: 0.6rem 0.8rem;
      border: 1px solid #ccc;
      border-radius: 8px;
      font-size: 0.95rem;

      &:focus {
        border-color: $primary-color;
        outline: none;
        box-shadow: 0 0 0 2px rgba($primary-color, 0.2);
      }
    }

    &.col-100 {
      flex: 0 0 100%;
    }

    &.col-50 {
      flex: 0 0 48%;
    }

    &.col-33 {
      flex: 0 0 31.5%;
    }

    &.col-25 {
      flex: 0 0 23%;
    }
  }

  .buttons {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin-top: 2rem;

    .btn-primary {
      background-color: $primary-color;
      color: #fff;
      border: none;
      padding: 0.7rem 1.5rem;
      border-radius: 8px;
      font-size: 1rem;
      cursor: pointer;

      &:hover {
        background-color: darken($primary-color, 10%);
      }
    }
    .btn-secondary{
      background-color: #f0f0f0;
      color: #333;
      border: none;
      padding: 0.7rem 1.5rem;
      border-radius: 8px;
      font-size: 1rem;
      cursor: pointer;

      &:hover {
        background-color: darken(#f0f0f0, 10%);
      }
    }

    .btn-unassign {
      background-color: #e74c3c;
      color: #fff;
      border: none;
      padding: 0.7rem 1.5rem;
      border-radius: 8px;
      font-size: 1rem;
      cursor: pointer;

      &:hover {
        background-color: darken(#e74c3c, 10%);
      }
    }
  }
}
