@import "./colors.scss";

.table-page-layout {
  color: darken($primary-color, 40%);
  padding: 1rem 2rem;

  .filters {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;

    input[type="text"],
    select {
      padding: 8px 12px;
      font-size: 15px;
      border: 1px solid $color-light-grey;
      border-radius: 6px;
      flex-grow: 1;
      min-width: 200px;
      transition: border-color 0.3s ease;
      color: $color-dark-grey;
      &:focus {
        outline: none;
        border-color: $primary-color;
        box-shadow: 0 0 6px rgba($primary-color, 0.5);
      }
    }
  }

  table.elements-table {
    border-collapse: collapse;
    box-shadow: 0 4px 10px rgba($primary-color, 0.15);
    overflow: hidden;
    border-radius: 10px;
    background: $color-white;
    table-layout: fixed;

    th,
    td {
      padding: 12px 15px;
      border: 1px solid $color-light-grey;
      text-align: left;
      vertical-align: middle;
      font-size: 14px;
      transition: background-color 0.3s ease;
      width: 150px; // o qualsiasi valore uguale per tutti
      overflow: hidden;
      text-overflow: ellipsis;

      .sortable-header {
        flex-grow: 1;
        display: flex;
        align-items: center;

      }
      &:last-child {
       width: 150px;
      }
    }

    th {
      cursor: pointer;
      background-color: $grey-200;
      user-select: none;
      position: relative;
      font-weight: 600;
      color: darken($primary-color, 40%);

      span {
        margin-left: 6px;
        font-size: 13px;
        color: darken($primary-color, 40%);
      }

      &:hover {
        background-color: lighten($primary-color, 75%);
      }
    }

    tbody {
      tr {
        &:hover {
          background-color: lighten($primary-color, 90%);
        }
      }

      .second-row {
        background-color: lighten($primary-color, 94%);
        font-size: 13px;
        color: darken($primary-color, 20%);
        padding: 8px 15px;
        .assigned-title {
          font-weight: 600;
          margin-bottom: 5px;
        }
        ul {
          padding-left: 20px;
          margin: 5px 0;

          li {
            list-style-type: disc;
            margin-bottom: 3px;
          }
        }
      }
    }

    td a {
      color: $primary-color;
      font-weight: 600;
      text-decoration: none;
      margin: 0 6px;
      transition: color 0.3s ease;

      &:hover {
        color: darken($primary-color, 10%);
        text-decoration: underline;
      }
    }
  }

  .pagination {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 15px;
    color: $primary-color;

    button {
      padding: 8px 18px;
      font-weight: 700;
      border: none;
      border-radius: 6px;
      background-color: $primary-color;
      color: white;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover:not(:disabled) {
        background-color: darken($primary-color, 10%);
      }

      &:disabled {
        background-color: #ccc;
        cursor: not-allowed;
      }
    }

    span {
      color: darken($primary-color, 40%);
      min-width: 140px;
      text-align: center;
      font-weight: 600;
    }
  }

  .actions-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 20px;
    .action-btn {
      background-color: $primary-color;
      color: white;
      border: none;
      border-radius: 6px;
      padding: 6px 12px;
      margin: 0 4px;
      font-size: 14px;
      font-weight: 600;
      cursor: pointer;
      display: inline-flex;
      align-items: center;
      gap: 6px;
      transition: background-color 0.3s ease, box-shadow 0.3s ease;

      i {
        font-size: 14px;
      }

      &:hover {
        background-color: darken($primary-color, 10%);
        box-shadow: 0 2px 6px rgba($primary-color, 0.3);
      }

      &:focus {
        outline: none;
        box-shadow: 0 0 0 3px rgba($primary-color, 0.25);
      }
    }
  }

  @media (max-width: 720px) {
    .actions-buttons {
      flex-direction: column;
      .action-btn {
        padding: 5px 10px;
        font-size: 13px;

        i {
          font-size: 13px;
        }
      }
    }
  }

  @media (max-width: 720px) {
    .filters {
      flex-direction: column;

      input[type="text"],
      select {
        flex-grow: unset;
        width: 100%;
      }
    }

    table.elements-table {
      th,
      td {
        padding: 10px 8px;
        font-size: 13px;
      }

      .second-row {
        font-size: 12px;
        .assigned-title {
          font-weight: 600;
          margin-bottom: 5px;
        }
        ul {
          padding-left: 16px;
        }
      }
    }
  }
}
