@import "../../../../shared/styles/generic-form.scss";
.btn-generate-ai-content{
    background-color: #1999d5;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
    
    &:hover {
        background-color: #167abf;
    }
    
    &:disabled {
        background-color: #ccc;
        cursor: not-allowed;
    }
}