@import "../../../../shared/styles/generic-form.scss";
.btn-generate-ai-content{
    background-color: #1999d5;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
    
    &:hover {
        background-color: #167abf;
    }
    
    &:disabled {
        background-color: #ccc;
        cursor: not-allowed;
    }
}
.checkbox-group {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
  
    label {
      display: flex;
      align-items: center;
      font-weight: 500;
      cursor: pointer;
      user-select: none;
  
      input[type='checkbox'] {
        margin-right: 8px;
        width: 18px;
        height: 18px;
        cursor: pointer;
      }
    }
  }
  