<div class="generic-form" *ngIf="!isLoading">
    <h3 class="title">Crea {{ userForm.value.name || 'Utente' }}</h3>

    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <div class="form-grid">
            <!-- Informazioni Utente -->
            <div class="form-group col-50">
                <label for="name">Nome</label>
                <input id="name" type="text" formControlName="name" />
            </div>

            <div class="form-group col-50">
                <label for="surname">Cognome</label>
                <input id="surname" type="text" formControlName="surname" />
            </div>

            <div class="form-group col-100">
                <label for="email">Email</label>
                <input id="email" type="email" formControlName="email" />
            </div>

            <div class="form-group col-100">
                <label for="phone">Telefono</label>
                <input id="phone" type="text" formControlName="phone" />
            </div>

            <div class="form-group col-100">
                <label for="roleId">Ruolo</label>
                <select id="roleId" formControlName="roleId">
                    <option [value]="3">Monitoraggio</option>
                    <option [value]="2">Utente</option>
                </select>
            </div>

            <!-- Password -->
            <div class="form-group col-50">
                <label>Nuova Password</label>
                <input [type]="showPassword ? 'text' : 'password'" formControlName="newPassword"
                    (input)="checkPasswordStrength()" />
                <div class="password-wrapper">
                    <div class="password-strength-bar">
                        <div class="strength-indicator"
                            [ngStyle]="{ width: passwordStrength + '%', backgroundColor: passwordStrengthColor }"></div>
                    </div>
                    <div class="strength-text">{{ passwordStrengthText }}</div>
                </div>
            </div>

            <div class="form-group col-50">
                <label>Conferma Password</label>
                <input [type]="showPassword ? 'text' : 'password'" formControlName="confirmPassword" />
                <div *ngIf="passwordMismatch" class="error" style="color: red;">Le password non corrispondono.</div>
            </div>

            <div class="form-group col-100">
                <div style="display: flex; gap:1rem; align-items: center;">
                    <button type="button" class="btn-action" (click)="togglePasswordVisibility()">{{ showPassword ?
                        'Nascondi password' : 'Mostra password' }}</button>
                    <button type="button" class="btn-action" (click)="generatePassword()">Genera</button>
                </div>
            </div>
        </div>

        <div class="buttons">
            <button type="submit" class="btn-primary" [disabled]="userForm.invalid">Crea Utente</button>
        </div>
    </form>
</div>